<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Nginx cache manager</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="48x48">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous" defer></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
<main>
<div>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Швидке очищення кешу Nginx:</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes" style="margin-top: 33px;" id="message">
    {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="spinner-border text-primary" role="status" id="spinner"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        {% if current_user.rights >= 255 %}
        <li class="nav-item">
          <a class="nav-link" href="/admin_panel/">⚙️Admin panel</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex" action="/logout/" method="POST">
        <button class="btn btn-outline-warning" type="submit" id="logoutButton" name="logout">{{current_user.realname}}&nbsp;Вихід</button>
      </form>
    </div>
  </div>
</nav>
</div>
<table class="table table-bordered" style="margin-top: 60px; width: 99vw;">
<thead>
  <tr class="table-warning">
    <th scope="col">ID</th>
    <th scope="col" style="width: 140px;">Дії:</th>
    <th scope="col" style="width: 250px;">Домен:</th>
    <th scope="col">Шлях:</th>
    <th scope="col" style="width: 240px;">Статус:</th>
  </tr>
</thead>
<tbody>
{{table|safe}}
</tbody>
</table>
<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</main>
</body>
</html>
