<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Nginx cache manager</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="48x48">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous" defer></script>
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>
<body>
<main>
    <div id="loginContainer" class="card shadow">
      <div class="card-body">
        <p class="display-6 text-center">Nginx cache manager</p>
        <div class="text-center mb-3">
          <span class="badge rounded-pill bg-primary">Необхідно авторизуватись:</span>
        </div>
        <form action="/login/" method="POST">
        <div class="input-group mb-3">
            <span class="input-group-text">Логін&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="text" class="form-control" id="username" name="username" autocomplete="username" required autofocus>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Пароль&nbsp;</span>
            <input type="password" class="form-control" id="password" name="password" autocomplete="current-password" required>
        </div>
        <div class="d-grid col-12 col-md-8 mx-auto">
          <button type="submit" id="login" name="login" class="btn btn-primary" onclick="showLoading()">Log In</button>
        </div>
        </form>
        <div class="d-grid col-12 col-md-8 mx-auto mt-2">
          <a href="/login/authelia/" class="btn btn-outline-secondary" onclick="showLoading()">🔑Увійти через єдиний корп. аккаунт SSO</a>
        </div>
        <div class="text-center mt-3">
          <div class="spinner-border text-primary" role="status" id="spinner">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes" id="message">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
</main>
</body>
</html>
